<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.analysisplatform.dao.ExamMapper">
  <resultMap id="BaseResultMap" type="com.analysisplatform.model.Exam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="origin_id" jdbcType="VARCHAR" property="originId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="origin_term_id" jdbcType="VARCHAR" property="originTermId" />
    <result column="origin_type_id" jdbcType="VARCHAR" property="originTypeId" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="origin_school_id" jdbcType="VARCHAR" property="originSchoolId" />
    <result column="origin_campus_id" jdbcType="VARCHAR" property="originCampusId" />
  </resultMap>

  <select id="findAllOriginIdBySchoolId" resultType="java.lang.String" parameterType="java.lang.String">
        select origin_id from exam where origin_school_id=#{schoolId}
  </select>
<!--完成-->
  <update id="updateByOriginIdAndSchoolId" parameterType="com.analysisplatform.model.Exam">
    update exam
    <set>
      name=#{name},
      origin_term_id=#{originTermId},
      origin_type_id=#{originTypeId},
      start_date=#{startDate},
      end_date=#{endDate},
      origin_campus_id=#{originCampusId}
    </set>
    where origin_id=#{originId} and origin_school_id=#{originSchoolId}
  </update>

  <insert id="insertNoRepeat" parameterType="list">
    INSERT INTO exam
    (origin_id,name,origin_term_id,origin_type_id,start_date,end_date,origin_school_id,origin_campus_id)
    VALUES
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.originId},#{item.name},#{item.originTermId},#{item.originTypeId},#{item.startDate},#{item.endDate},
      #{item.originSchoolId},#{item.originCampusId})
    </foreach>
    ON DUPLICATE KEY UPDATE
    name=VALUES(name),
    origin_term_id=VALUES(origin_term_id),
    origin_type_id=VALUES(origin_type_id),
    start_date=VALUES(start_date),
    end_date=VALUES(end_date)
  </insert>
</mapper>