<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.analysisplatform.dao.GradeMapper">
  <resultMap id="BaseResultMap" type="com.analysisplatform.model.Grade">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="origin_id" jdbcType="VARCHAR" property="originId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="section_id" jdbcType="VARCHAR" property="sectionId" />
    <result column="section_level" jdbcType="VARCHAR" property="sectionLevel" />
    <result column="origin_school_id" jdbcType="VARCHAR" property="originSchoolId" />
    <result column="origin_campus_id" jdbcType="VARCHAR" property="originCampusId" />
  </resultMap>

  <select id="findAllOriginIdBySchoolId" resultType="java.lang.String" parameterType="java.lang.String">
        select origin_id from grade where origin_school_id=#{schoolId}
  </select>
<!---->
  <update id="updateByOriginIdAndSchoolId" parameterType="com.analysisplatform.model.Grade">
    update grade
    <set>
      name=#{name},
      section_id=#{sectionId},
      section_level=#{sectionLevel},
      origin_campus_id=#{originCampusId}
    </set>
    where origin_id=#{originId} and origin_school_id=#{originSchoolId}
  </update>

  <insert id="insertNoRepeat" parameterType="list">
    INSERT INTO grade
    (origin_id,name,section_id,section_level,origin_school_id,origin_campus_id)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.originId},#{item.name},#{item.sectionId},#{item.sectionLevel},#{item.originSchoolId},#{item.originCampusId})
    </foreach>
    ON DUPLICATE KEY UPDATE
    name=VALUES(name),
    section_id=VALUES(section_id),
    section_level=VALUES(section_level)
  </insert>
</mapper>