<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.analysisplatform.dao.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.analysisplatform.model.Teacher">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="origin_id" jdbcType="VARCHAR" property="originId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex"/>
    <result column="member" jdbcType="VARCHAR" property="member"/>
    <result column="title" jdbcType="VARCHAR" property="title"/>
    <result column="birthdate" jdbcType="TIMESTAMP" property="birthdate"/>
    <result column="origin_school_id" jdbcType="VARCHAR" property="originSchoolId" />
    <result column="origin_campus_id" jdbcType="VARCHAR" property="originCampusId" />
  </resultMap>



  <select id="findAllOriginIdBySchoolId" resultType="java.lang.String" parameterType="java.lang.String">
        select origin_id from teacher where origin_school_id=#{schoolId}
  </select>
<!--完成-->
  <update id="updateByOriginIdAndSchoolId" parameterType="com.analysisplatform.model.Teacher">
        update teacher
            <set>
              name=#{name},
              sex=#{sex},
              member=#{member},
              birthdate=#{birthdate},
              title=#{title},
              origin_campus_id=#{originCampusId}
            </set>
            where origin_id=#{originId} and origin_school_id=#{originSchoolId}
  </update>

  <insert id="insertNoRepeat" parameterType="list">
    INSERT INTO teacher
    (origin_id,name,sex,member,title,birthdate,origin_school_id,origin_campus_id)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.originId},#{item.name},#{item.sex},#{item.member},#{item.title},#{item.birthdate},#{item.originSchoolId},
      #{item.originCampusId})
    </foreach>
    ON DUPLICATE KEY UPDATE
    name=VALUES(name),
    sex=VALUES(sex),
    member=VALUES(member),
    birthdate=VALUES(birthdate),
    title=VALUES(title)
  </insert>
</mapper>